@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&display=swap');
h1 {
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    border-color: blue;
}

#container {
    display: flex;
    flex-wrap: center;
    margin: auto;
    background-color: rgb(255, 157, 0);
    border-color: black;
    border-style: ridge;
    width: 98%
}

#box {
    display: flex;
    background-color: blueviolet;
}


/* apples */

#calender {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 130px;
    height: 180px;
    background-color: cornflowerblue;
    border: #fff;
    border-radius: 5%;
    box-shadow: 0 4px 4px 0 rgba(50, 50, 50, 0.4);
}

#calender>p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px 0;
    margin: 0;
    color: #fff;
    text-align: center;
}

#calender-day {
    font-size: 16px;
}

#calender-month-year {
    font-size: 14px;
}

#calender-date {
    font-size: 64px;
    padding-top: 10px;
    padding-bottom: 0;
}